@charset "UTF-8";
html{
    font-size: 100%;
    margin: 0;
}

body{
    position: relative;
    margin: 0;
    user-select: none;
    /* background-color: rgba(225, 225, 225, 0.5); */
    /* display: none; */
}

.wrapper{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4%;
}

a{
    text-decoration: none;
    color: #432;
}


/* header */

.page-header{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100;
    /* width: 100%; */
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 7%;
    border-bottom: 1px #432 solid;
    height: 13%;
}

.page-header h1{
    color: #432;
    margin-bottom: 0;
}

.main-nav{
    display: flex;
    list-style: none;
    margin-top: 40px;
    margin-bottom: 0;
}

.main-nav li{
    margin-left: 60px;
}
.main-nav a{
    color:#432;
}

.main-nav a:hover{
    color: #bd0;
}

.main-content{
    display: flex;
    margin-top: 10%;
}

/* footer */

footer .wrapper{
    background-color: #432;
    text-align: center;
    padding: 20px 0;
}

footer p{
    color: #fff;
    font-size: 0.875rem;
}

/* レスポンスシブ対応 */

@media screen and (max-width:600px) {

    .main-content{
        height: 100vh;
    }

    .page-header h1{
        font-size: 1.2rem;
        margin-bottom: 0;
        margin-top: 3%;
        padding-bottom: 0;
    }

    .page-header{
        position: initial;
        height: 60px;
    }

    .main-nav{
        margin-top: 12%;
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 0.75rem;
    }

    .main-nav li{
        margin-left: 30px;
    }


    .main-article{
        width: 100%;
        margin: 0;
    }

    .main-content{
        margin-top: 0;
    }

    .main-content h2{
        font-size: 1rem;
    }

    .main-content p{
        font-size: 0.8rem;
    }

    .caption{
        margin-bottom: auto;
    }

    .D-img{
        width: 100%;
        height: auto;
    }




} 
